<div id="chatHead">
    <h3 class="chat-title">ChatBot</h3>
</div>
<div id="chatBody">
    <div class="mycontent direct-chat direct-chat-primary" id="chat-messages">
        <div class="direct-chat-messages" id="chat-messages-inner">
           
        </div>
    </div>
</div>
<div class="navbar-fixed-bottom chatFoot" style="margin-left:50px;margin-right:50px;background-color:#eee;">
    <div class="form-group" style="margin-bottom:0;padding:1px;">
        <div class="input-group">
            <input type="text" id="msg-box" name="msg-box" placeholder="Type Message ..." class="form-control  input-flat">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-flat">Send</button>
            </span>
        </div>
    </div>
</div>